@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #000000;   
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;
    --font-krona: "Krona One", serif;
    --font-montserrat: "Montserrat", serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.menu {
    padding: 3% 20%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.header-menu {
    font-family: var(--font-montserrat);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-terciario);
    text-decoration: none;
}

.header-menu:hover{
    color: var(--color-secundario)
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7% 10%;
    gap: 82px;
}

.presentacion-contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;    
}

.presentacion-contenido-titulo {
    font-family: var(--font-krona);
    font-size: 2.25rem;
}

.titulo-destaque {
    color: var(--color-terciario);
}

.unico-parrafo {
    font-family: var(--font-montserrat);
    font-size: 1.5rem;     
}

.presentacion-contenido-subtitulo {
    font-family: var(--font-krona);
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.enlaces-links {
    width: 50%;
    padding: 16px 0px;
    text-decoration: none;
    border: 2px solid var(--color-terciario);
    border-radius: 8px;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-secundario);
    display: flex;
    justify-content: center;
    gap: 16px;    
}

.enlaces-links:hover {
    background-color: var(--color-hover);
    color: var(--color-terciario);
    cursor: pointer;
}

.presentacion-img {
    width: 50%;
}

footer {
    padding: 23.6px;
    background-color: var(--color-terciario);
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-primario);
    text-align: center;
}

footer:hover {
    color: var(--color-secundario);
    cursor: pointer;
}

@media (max-width: 1250px) {
    
    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .menu {
        justify-content: center;
        margin-top: 50px;
    }

    .presentacion-contenido {
        width: auto;
    }

    .presentacion-contenido-titulo {
        text-align: center;
    }
}